// default style

$prefix: tabtab__folder__;
$bkg-color-active: #F1F1F1;
$border-color-active: #b0b0af;

.#{$prefix}wrapper {
    position: relative;
}

.#{$prefix}tab {
    list-style-type: none;
    display: inline-block;
    color: black;
    // margin-right: 5px;
    // border: 2px solid #e7e7e7;
    padding: 5px 20px;
    background-color: #E6E6E6;
    color: #B6B6B6;
    &:hover {
        cursor: pointer;
    }

    &.active {
        border-radius: 2px;
        color: black;
        background-color: $bkg-color-active;
        border-top: 1px solid $border-color-active;
        border-right: 1px solid $border-color-active;
        border-left: 1px solid $border-color-active;
        margin-bottom: -2px;
    }
}

.#{$prefix}tab.add {
    margin-left: 5px;
    padding: 5px 8px;
    background-color: $bkg-color-active;
    color: black;
    &:hover {
        background-color: #ccc;
    }
}

.#{$prefix}delete {
    position: absolute;
    top: -5px;
    right: -12px;
    &:hover {
        cursor: pointer;
    }
}

.#{$prefix}tab__wrapper {
    // margin-bottom: 15px;
}

.#{$prefix}panel {
    padding: 10px;
    &.active {
        display: block;
        background-color: $bkg-color-active;
        border: 1px solid $border-color-active;
        // border-bottom: 1px solid $border-color-active;
        // border-right: 1px solid $border-color-active;
        // border-left: 1px solid $border-color-active;
    }

    &.inactive {
        display: none;
    }
}

// close button

.#{$prefix}circCont{
  display:inline-block;
}
$circle-color:#9c9c9a;
$circle-width: 16px;
$cross-width: 10px;
$cross-height: 2px;
.#{$prefix}circle{
vertical-align: middle;
  width:$circle-width;
  height:$circle-width;
  background:transparent;
  border: 2px solid $circle-color;
  border-radius: 50%;
  position:relative;
  cursor:pointer;
  display:inline-block;
  margin-left: 7px;
  &:after{
    width:$cross-width;
    height:$cross-height;
    background-color:$circle-color;
    content:"";
    left:50%;
    top:50%;
    margin-left:-($cross-width/2);
    margin-top:-($cross-height/2);
    position:absolute;
    transform: rotate(-45deg);
  }
  &:before{
    left:50%;
    top:50%;
    margin-left:-($cross-width/2);
    margin-top:-($cross-height/2);
    width:$cross-width;
    height:$cross-height;
    background-color:$circle-color;
    content:"";
    position:absolute;
    transform: rotate(45deg);
  }
  transition: background 50ms;
  &:hover {
    background-color: #9c9c9a;
    &:after, &:before {
        background-color: $bkg-color-active;
    }
  }
  &:focus {
    outline: none;
  }
}