// default style
$prefix: tabtab__default__;

.#{$prefix}tab {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
    border: 2px solid #e7e7e7;
    padding: 5px;
    &:hover {
        cursor: pointer;
    }

    &.active {
        border-color: #2175bc;
        background-color: #2175bc;
        color: white;
    }
}


.#{$prefix}tab__wrapper {
    margin-bottom: 15px;
}

.#{$prefix}panel {
    &.active {
        display: block;
    }

    &.inactive {
        display: none;
    }
}