// default style

$prefix: tabtab__modern__;
$main-color: #2B2D42;
$lighter-color: #8D99AE;
$light-color: #eee;
.#{$prefix}tab__wrapper {
    display: inline-block;
}

.#{$prefix}tab {
    list-style-type: none;
    background-color: #fff;
    border-color: $lighter-color;
    border-left-style: solid;
    border-top: solid;
    border-width: 2px;
    color: $light-color;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    float: left;
    padding: 0.625rem 1.25rem;
    position: relative;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    &:hover {
        cursor: pointer;
    }

    &::before, &::after {
        content: "";
        display: block;
        height: 4px;
        position: absolute;
        -webkit-transition: 0.1s ease-in-out;
        transition: 0.1s ease-in-out;
    }

    &::before {
        background-color: $light-color;
        left: -2px;
        right: -2px;
        top: -2px;
    }

    &::after {
        background-color: transparent;
        bottom: -2px;
        left: 0;
        right: 0;
    }

    &:last-of-type {
        border-right-style: solid;
    }

    &.active {
        position: relative;
        color: $main-color;
        z-index: 1;
        &::before {
            background-color: $main-color;
        }
        &::after {
            background-color: #fff;
        }
    }
}

.#{$prefix}panel {
    background-color: #fff;
    border: 2px solid $lighter-color;
    padding: 1.25rem;
    &.active {
        display: block;
    }

    &.inactive {
        display: none;
    }
}