{
  "presets": [
    "es2015",
    "react",
    "stage-0",
    [
      "env",
      {
        "loose": true
      }
    ]
  ],
  "plugins": [
    [
      "add-module-exports",
      "flow-react-proptypes",
      "transform-decorators-legacy",
      "transform-class-properties",
      "transform-flow-strip-types"
    ]
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "add-module-exports"
      ]
    }
  }
}
