<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= htmlWebpackPlugin.options.title %></title>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIRNveCzdgihd1dEXL0OVP6kaphDFdsn0&libraries=places"></script>
<meta name="description" content="<%= htmlWebpackPlugin.options.desc %>">
<meta name="keywords" content="">
<link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
<link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
</head>
<body>
  <div id="root"></div>
  <% for (var js in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
  <% } %>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
